
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
  display: flex;
  flex-flow: column nowrap;
}
.header{
    height: 150px;
    display: flex;
    flex-flow: row nowrap;
	align-items: center;
}
.logo{
	margin-left: 10px;
    width: 40%;
	height: 50px;
	font-size: 50px;
	border-left: 40px solid #83ebeb;
	font-family: Intro;
	line-height: 50px;
	padding-left: 4px;
	transition: all 1s;
}
.logo a{
	text-decoration: none;
	color: black;
}
.logo:hover{
	padding-left: 20px;
}
.nav{
    width: 60%;
	height: 50px;
	display: flex;
	justify-content: space-around;
}
.nav a{
	width: 20%;
	text-decoration: none;
	font-family: Comfortaa;
	font-weight: 400;
	font-size: 25px;
	color: black;
	text-align: center;
	line-height: 50px;
	border-bottom: 5px solid transparent;
	transition: all 1s;
	transition-timing-function: ease;
}
.nav a:hover{
	border-bottom: 5px solid #83ebeb;
}
.slider{
    height: 800px;
	margin-bottom: 35px;
}
#lightSlider{
	max-width: 1024px;
	height: 600px;
	margin: 0 auto;
}
.sl{
	max-width: 800;
	margin: 20px auto;
}
.content{
    flex-grow: 1;
}
.content h1{
	text-align: center;
	font-family: ConcertOne;
	font-size: 3em;
}
.content p{
	font-family:  RobotoCondensed;
	font-size: 1.3em;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 30px;
}
.content img{
	float: left;
}
.footer{
	height: 150px;
    border-top: 5px solid #83ebeb;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.footer p{
	margin-left: 20px;
	font-family: RobotoCondensed;
	font-size: 1.5em;
}
.social{
	margin-right: 30px;
	height: 50px;
	width: 15%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-flow: row nowrap;
}
.vk::before{
	content: "";
	background-image: url(images/sprite.png);
	background-position: -101px -2px;
	background-repeat: no-repeat;
	width: 46px;
	height: 46px;
	display: block;
}
.twitter::before{
	content: "";
	background-image: url(images/sprite.png);
	background-position: -52px -3px;
	background-repeat: no-repeat;
	width: 46px;
	height: 46px;
	display: block;
}
.inst::before{
	content: "";
	background-image: url(images/sprite.png);
	background-position: -2px -3px;
	background-repeat: no-repeat;
	width: 46px;
	height: 46px;
	display: block;
}